.lst-kix_63js6uidqjnc-8>li:before {
	content: "\0025a0  "
}

.lst-kix_1zf5q6ubfclq-6>li:before {
	content: "\0025cf  "
}

.lst-kix_1zf5q6ubfclq-8>li:before {
	content: "\0025a0  "
}

.lst-kix_pt70dx3gyne1-3>li:before {
	content: "\0025cf  "
}

.lst-kix_b2k9xfyeyhs8-5>li:before {
	content: "\0025a0  "
}

.lst-kix_b2k9xfyeyhs8-3>li:before {
	content: "\0025cf  "
}

.lst-kix_5hb7xepwr4jl-6>li:before {
	content: "\0025cf  "
}

.lst-kix_boz7r23gjv98-4>li:before {
	content: "\0025cb  "
}

.lst-kix_boz7r23gjv98-0>li:before {
	content: "\0025cf  "
}

.lst-kix_4i4yx19un1qi-1>li:before {
	content: "\0025cb  "
}

.lst-kix_boz7r23gjv98-7>li:before {
	content: "\0025cb  "
}

.lst-kix_pt70dx3gyne1-0>li:before {
	content: "\0025cf  "
}

.lst-kix_nmt0bwupho3-6>li:before {
	content: "\0025cf  "
}

.lst-kix_r7d3k8dt75vk-0>li:before {
	content: "\0025cf  "
}

.lst-kix_xmxf9kuux5ql-4>li:before {
	content: "\0025cb  "
}

.lst-kix_us17qxvctcgb-8>li:before {
	content: "\0025a0  "
}

.lst-kix_b2k9xfyeyhs8-2>li:before {
	content: "\0025a0  "
}

.lst-kix_g21n0l4j2oqr-7>li:before {
	content: "\0025cb  "
}

.lst-kix_fya1wt3tiqeo-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_xmxf9kuux5ql-8 {
	list-style-type: none
}

ul.lst-kix_xmxf9kuux5ql-5 {
	list-style-type: none
}

ul.lst-kix_xmxf9kuux5ql-4 {
	list-style-type: none
}

ul.lst-kix_xmxf9kuux5ql-7 {
	list-style-type: none
}

.lst-kix_yvw92xfot9jw-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_xmxf9kuux5ql-6 {
	list-style-type: none
}

ul.lst-kix_xmxf9kuux5ql-0 {
	list-style-type: none
}

ul.lst-kix_xmxf9kuux5ql-1 {
	list-style-type: none
}

ul.lst-kix_xmxf9kuux5ql-2 {
	list-style-type: none
}

ul.lst-kix_xmxf9kuux5ql-3 {
	list-style-type: none
}

.lst-kix_fya1wt3tiqeo-2>li:before {
	content: "\0025a0  "
}

.lst-kix_63js6uidqjnc-4>li:before {
	content: "\0025cb  "
}

.lst-kix_boz7r23gjv98-1>li:before {
	content: "\0025cb  "
}

.lst-kix_7gqmqsmynq7l-6>li:before {
	content: "\0025cf  "
}

.lst-kix_bbdup1d9gqhp-0>li:before {
	content: "\0025cf  "
}

.lst-kix_5hb7xepwr4jl-5>li:before {
	content: "\0025a0  "
}

.lst-kix_us17qxvctcgb-1>li:before {
	content: "\0025cb  "
}

.lst-kix_1zf5q6ubfclq-4>li:before {
	content: "\0025cb  "
}

.lst-kix_nom2t8sjwuzj-0>li:before {
	content: "\0025cf  "
}

.lst-kix_nmt0bwupho3-3>li:before {
	content: "\0025cf  "
}

.lst-kix_xmxf9kuux5ql-3>li:before {
	content: "\0025cf  "
}

.lst-kix_4i4yx19un1qi-6>li:before {
	content: "\0025cf  "
}

.lst-kix_63js6uidqjnc-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_g21n0l4j2oqr-1 {
	list-style-type: none
}

ul.lst-kix_5hb7xepwr4jl-8 {
	list-style-type: none
}

ul.lst-kix_g21n0l4j2oqr-2 {
	list-style-type: none
}

ul.lst-kix_5hb7xepwr4jl-7 {
	list-style-type: none
}

.lst-kix_wp6y6oyi9m73-6>li:before {
	content: "\0025cf  "
}

.lst-kix_egwll3gca3n-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_g21n0l4j2oqr-3 {
	list-style-type: none
}

ul.lst-kix_5hb7xepwr4jl-6 {
	list-style-type: none
}

ul.lst-kix_g21n0l4j2oqr-4 {
	list-style-type: none
}

ul.lst-kix_5hb7xepwr4jl-5 {
	list-style-type: none
}

ul.lst-kix_g21n0l4j2oqr-5 {
	list-style-type: none
}

ul.lst-kix_5hb7xepwr4jl-4 {
	list-style-type: none
}

ul.lst-kix_g21n0l4j2oqr-6 {
	list-style-type: none
}

.lst-kix_nmt0bwupho3-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_5hb7xepwr4jl-3 {
	list-style-type: none
}

ul.lst-kix_g21n0l4j2oqr-7 {
	list-style-type: none
}

.lst-kix_pt70dx3gyne1-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_5hb7xepwr4jl-2 {
	list-style-type: none
}

ul.lst-kix_g21n0l4j2oqr-8 {
	list-style-type: none
}

.lst-kix_wp6y6oyi9m73-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_5hb7xepwr4jl-1 {
	list-style-type: none
}

.lst-kix_nmt0bwupho3-8>li:before {
	content: "\0025a0  "
}

.lst-kix_1zf5q6ubfclq-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_g21n0l4j2oqr-0 {
	list-style-type: none
}

.lst-kix_5hb7xepwr4jl-2>li:before {
	content: "\0025a0  "
}

.lst-kix_boz7r23gjv98-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_nmt0bwupho3-8 {
	list-style-type: none
}

.lst-kix_xmxf9kuux5ql-6>li:before {
	content: "\0025cf  "
}

.lst-kix_egwll3gca3n-6>li:before {
	content: "\0025cf  "
}

.lst-kix_1zf5q6ubfclq-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_r7d3k8dt75vk-8 {
	list-style-type: none
}

.lst-kix_blmnaebgbg7-3>li:before {
	content: "\0025cf  "
}

.lst-kix_4i4yx19un1qi-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_r7d3k8dt75vk-7 {
	list-style-type: none
}

ul.lst-kix_r7d3k8dt75vk-6 {
	list-style-type: none
}

ul.lst-kix_r7d3k8dt75vk-5 {
	list-style-type: none
}

.lst-kix_yvw92xfot9jw-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_r7d3k8dt75vk-4 {
	list-style-type: none
}

ul.lst-kix_nmt0bwupho3-4 {
	list-style-type: none
}

ul.lst-kix_r7d3k8dt75vk-3 {
	list-style-type: none
}

ul.lst-kix_nmt0bwupho3-5 {
	list-style-type: none
}

ul.lst-kix_r7d3k8dt75vk-2 {
	list-style-type: none
}

ul.lst-kix_nmt0bwupho3-6 {
	list-style-type: none
}

ul.lst-kix_r7d3k8dt75vk-1 {
	list-style-type: none
}

ul.lst-kix_nmt0bwupho3-7 {
	list-style-type: none
}

ul.lst-kix_r7d3k8dt75vk-0 {
	list-style-type: none
}

ul.lst-kix_nmt0bwupho3-0 {
	list-style-type: none
}

.lst-kix_8zu7eoss4e5s-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_nmt0bwupho3-1 {
	list-style-type: none
}

ul.lst-kix_nmt0bwupho3-2 {
	list-style-type: none
}

ul.lst-kix_nmt0bwupho3-3 {
	list-style-type: none
}

.lst-kix_us17qxvctcgb-7>li:before {
	content: "\0025cb  "
}

.lst-kix_g21n0l4j2oqr-5>li:before {
	content: "\0025a0  "
}

.lst-kix_wp6y6oyi9m73-1>li:before {
	content: "\0025cb  "
}

.lst-kix_blmnaebgbg7-7>li:before {
	content: "\0025cb  "
}

.lst-kix_us17qxvctcgb-2>li:before {
	content: "\0025a0  "
}

.lst-kix_us17qxvctcgb-6>li:before {
	content: "\0025cf  "
}

.lst-kix_8zu7eoss4e5s-5>li:before {
	content: "\0025a0  "
}

.lst-kix_us17qxvctcgb-3>li:before {
	content: "\0025cf  "
}

.lst-kix_egwll3gca3n-1>li:before {
	content: "\0025cb  "
}

.lst-kix_egwll3gca3n-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_b2k9xfyeyhs8-7 {
	list-style-type: none
}

ul.lst-kix_b2k9xfyeyhs8-8 {
	list-style-type: none
}

ul.lst-kix_b2k9xfyeyhs8-5 {
	list-style-type: none
}

ul.lst-kix_b2k9xfyeyhs8-6 {
	list-style-type: none
}

.lst-kix_xmxf9kuux5ql-7>li:before {
	content: "\0025cb  "
}

.lst-kix_7gqmqsmynq7l-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_5hb7xepwr4jl-0 {
	list-style-type: none
}

.lst-kix_bbdup1d9gqhp-3>li:before {
	content: "\0025cf  "
}

.lst-kix_pt70dx3gyne1-8>li:before {
	content: "\0025a0  "
}

.lst-kix_yvw92xfot9jw-2>li:before {
	content: "\0025a0  "
}

.lst-kix_8zu7eoss4e5s-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_b2k9xfyeyhs8-0 {
	list-style-type: none
}

ul.lst-kix_b2k9xfyeyhs8-4 {
	list-style-type: none
}

ul.lst-kix_b2k9xfyeyhs8-3 {
	list-style-type: none
}

ul.lst-kix_b2k9xfyeyhs8-2 {
	list-style-type: none
}

.lst-kix_5hb7xepwr4jl-1>li:before {
	content: "\0025cb  "
}

.lst-kix_7gqmqsmynq7l-0>li:before {
	content: "\0025cf  "
}

.lst-kix_b2k9xfyeyhs8-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_b2k9xfyeyhs8-1 {
	list-style-type: none
}

.lst-kix_nom2t8sjwuzj-8>li:before {
	content: "\0025a0  "
}

.lst-kix_boz7r23gjv98-8>li:before {
	content: "\0025a0  "
}

.lst-kix_wp6y6oyi9m73-3>li:before {
	content: "\0025cf  "
}

.lst-kix_63js6uidqjnc-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_egwll3gca3n-2 {
	list-style-type: none
}

.lst-kix_pt70dx3gyne1-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_egwll3gca3n-1 {
	list-style-type: none
}

.lst-kix_63js6uidqjnc-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_egwll3gca3n-0 {
	list-style-type: none
}

.lst-kix_8zu7eoss4e5s-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_egwll3gca3n-6 {
	list-style-type: none
}

ul.lst-kix_egwll3gca3n-5 {
	list-style-type: none
}

.lst-kix_4i4yx19un1qi-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_egwll3gca3n-4 {
	list-style-type: none
}

ul.lst-kix_egwll3gca3n-3 {
	list-style-type: none
}

ul.lst-kix_us17qxvctcgb-1 {
	list-style-type: none
}

.lst-kix_egwll3gca3n-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_us17qxvctcgb-2 {
	list-style-type: none
}

ul.lst-kix_egwll3gca3n-7 {
	list-style-type: none
}

ul.lst-kix_us17qxvctcgb-0 {
	list-style-type: none
}

.lst-kix_63js6uidqjnc-7>li:before {
	content: "\0025cb  "
}

.lst-kix_egwll3gca3n-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_egwll3gca3n-8 {
	list-style-type: none
}

ul.lst-kix_us17qxvctcgb-5 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-2 {
	list-style-type: none
}

.lst-kix_1zf5q6ubfclq-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_us17qxvctcgb-6 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-1 {
	list-style-type: none
}

.lst-kix_7gqmqsmynq7l-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_us17qxvctcgb-3 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-0 {
	list-style-type: none
}

ul.lst-kix_us17qxvctcgb-4 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-6 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-5 {
	list-style-type: none
}

ul.lst-kix_us17qxvctcgb-7 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-4 {
	list-style-type: none
}

ul.lst-kix_us17qxvctcgb-8 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-3 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-8 {
	list-style-type: none
}

ul.lst-kix_blmnaebgbg7-7 {
	list-style-type: none
}

.lst-kix_blmnaebgbg7-5>li:before {
	content: "\0025a0  "
}

.lst-kix_egwll3gca3n-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_yvw92xfot9jw-3 {
	list-style-type: none
}

.lst-kix_fya1wt3tiqeo-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_yvw92xfot9jw-4 {
	list-style-type: none
}

ul.lst-kix_yvw92xfot9jw-1 {
	list-style-type: none
}

ul.lst-kix_yvw92xfot9jw-2 {
	list-style-type: none
}

ul.lst-kix_yvw92xfot9jw-7 {
	list-style-type: none
}

ul.lst-kix_yvw92xfot9jw-8 {
	list-style-type: none
}

.lst-kix_bbdup1d9gqhp-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_yvw92xfot9jw-5 {
	list-style-type: none
}

ul.lst-kix_yvw92xfot9jw-6 {
	list-style-type: none
}

.lst-kix_r7d3k8dt75vk-4>li:before {
	content: "\0025cb  "
}

.lst-kix_fya1wt3tiqeo-5>li:before {
	content: "\0025a0  "
}

.lst-kix_bbdup1d9gqhp-2>li:before {
	content: "\0025a0  "
}

.lst-kix_5hb7xepwr4jl-7>li:before {
	content: "\0025cb  "
}

.lst-kix_bbdup1d9gqhp-5>li:before {
	content: "\0025a0  "
}

.lst-kix_g21n0l4j2oqr-3>li:before {
	content: "\0025cf  "
}

.lst-kix_nom2t8sjwuzj-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_7gqmqsmynq7l-4 {
	list-style-type: none
}

ul.lst-kix_7gqmqsmynq7l-3 {
	list-style-type: none
}

ul.lst-kix_7gqmqsmynq7l-6 {
	list-style-type: none
}

.lst-kix_yvw92xfot9jw-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_7gqmqsmynq7l-5 {
	list-style-type: none
}

ul.lst-kix_7gqmqsmynq7l-0 {
	list-style-type: none
}

.lst-kix_g21n0l4j2oqr-4>li:before {
	content: "\0025cb  "
}

.lst-kix_r7d3k8dt75vk-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_7gqmqsmynq7l-2 {
	list-style-type: none
}

ul.lst-kix_7gqmqsmynq7l-1 {
	list-style-type: none
}

ul.lst-kix_yvw92xfot9jw-0 {
	list-style-type: none
}

.lst-kix_xmxf9kuux5ql-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_7gqmqsmynq7l-8 {
	list-style-type: none
}

.lst-kix_fya1wt3tiqeo-1>li:before {
	content: "\0025cb  "
}

.lst-kix_yvw92xfot9jw-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_7gqmqsmynq7l-7 {
	list-style-type: none
}

.lst-kix_egwll3gca3n-8>li:before {
	content: "\0025a0  "
}

.lst-kix_5hb7xepwr4jl-4>li:before {
	content: "\0025cb  "
}

.lst-kix_pt70dx3gyne1-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_fya1wt3tiqeo-8 {
	list-style-type: none
}

ul.lst-kix_fya1wt3tiqeo-7 {
	list-style-type: none
}

.lst-kix_r7d3k8dt75vk-5>li:before {
	content: "\0025a0  "
}

.lst-kix_5hb7xepwr4jl-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_fya1wt3tiqeo-6 {
	list-style-type: none
}

.lst-kix_blmnaebgbg7-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_fya1wt3tiqeo-1 {
	list-style-type: none
}

ul.lst-kix_fya1wt3tiqeo-0 {
	list-style-type: none
}

.lst-kix_8zu7eoss4e5s-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_fya1wt3tiqeo-5 {
	list-style-type: none
}

ul.lst-kix_fya1wt3tiqeo-4 {
	list-style-type: none
}

ul.lst-kix_fya1wt3tiqeo-3 {
	list-style-type: none
}

ul.lst-kix_fya1wt3tiqeo-2 {
	list-style-type: none
}

.lst-kix_7gqmqsmynq7l-1>li:before {
	content: "\0025cb  "
}

.lst-kix_7gqmqsmynq7l-3>li:before {
	content: "\0025cf  "
}

.lst-kix_5hb7xepwr4jl-8>li:before {
	content: "\0025a0  "
}

.lst-kix_7gqmqsmynq7l-8>li:before {
	content: "\0025a0  "
}

.lst-kix_yvw92xfot9jw-3>li:before {
	content: "\0025cf  "
}

.lst-kix_fya1wt3tiqeo-0>li:before {
	content: "\0025cf  "
}

.lst-kix_yvw92xfot9jw-0>li:before {
	content: "\0025cf  "
}

.lst-kix_fya1wt3tiqeo-7>li:before {
	content: "\0025cb  "
}

.lst-kix_b2k9xfyeyhs8-4>li:before {
	content: "\0025cb  "
}

.lst-kix_8zu7eoss4e5s-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_8zu7eoss4e5s-0 {
	list-style-type: none
}

ul.lst-kix_8zu7eoss4e5s-1 {
	list-style-type: none
}

.lst-kix_pt70dx3gyne1-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_8zu7eoss4e5s-2 {
	list-style-type: none
}

ul.lst-kix_8zu7eoss4e5s-3 {
	list-style-type: none
}

.lst-kix_wp6y6oyi9m73-8>li:before {
	content: "\0025a0  "
}

.lst-kix_yvw92xfot9jw-4>li:before {
	content: "\0025cb  "
}

.lst-kix_us17qxvctcgb-4>li:before {
	content: "\0025cb  "
}

.lst-kix_8zu7eoss4e5s-7>li:before {
	content: "\0025cb  "
}

.lst-kix_us17qxvctcgb-0>li:before {
	content: "\0025cf  "
}

.lst-kix_g21n0l4j2oqr-6>li:before {
	content: "\0025cf  "
}

.lst-kix_4i4yx19un1qi-2>li:before {
	content: "\0025a0  "
}

.lst-kix_blmnaebgbg7-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_wp6y6oyi9m73-4 {
	list-style-type: none
}

ul.lst-kix_wp6y6oyi9m73-5 {
	list-style-type: none
}

.lst-kix_boz7r23gjv98-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_wp6y6oyi9m73-6 {
	list-style-type: none
}

.lst-kix_b2k9xfyeyhs8-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_wp6y6oyi9m73-7 {
	list-style-type: none
}

ul.lst-kix_wp6y6oyi9m73-8 {
	list-style-type: none
}

.lst-kix_blmnaebgbg7-0>li:before {
	content: "\0025cf  "
}

.lst-kix_4i4yx19un1qi-5>li:before {
	content: "\0025a0  "
}

.lst-kix_63js6uidqjnc-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_1zf5q6ubfclq-7 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-8 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-5 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-6 {
	list-style-type: none
}

ul.lst-kix_wp6y6oyi9m73-0 {
	list-style-type: none
}

ul.lst-kix_wp6y6oyi9m73-1 {
	list-style-type: none
}

ul.lst-kix_wp6y6oyi9m73-2 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-0 {
	list-style-type: none
}

.lst-kix_nom2t8sjwuzj-7>li:before {
	content: "\0025cb  "
}

.lst-kix_b2k9xfyeyhs8-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_wp6y6oyi9m73-3 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-1 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-0 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-3 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-2 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-5 {
	list-style-type: none
}

.lst-kix_g21n0l4j2oqr-2>li:before {
	content: "\0025a0  "
}

.lst-kix_1zf5q6ubfclq-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_nom2t8sjwuzj-4 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-4 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-7 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-3 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-6 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-2 {
	list-style-type: none
}

ul.lst-kix_1zf5q6ubfclq-1 {
	list-style-type: none
}

ul.lst-kix_nom2t8sjwuzj-8 {
	list-style-type: none
}

.lst-kix_nmt0bwupho3-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_8zu7eoss4e5s-8 {
	list-style-type: none
}

ul.lst-kix_8zu7eoss4e5s-7 {
	list-style-type: none
}

ul.lst-kix_8zu7eoss4e5s-6 {
	list-style-type: none
}

ul.lst-kix_8zu7eoss4e5s-5 {
	list-style-type: none
}

.lst-kix_8zu7eoss4e5s-4>li:before {
	content: "\0025cb  "
}

.lst-kix_fya1wt3tiqeo-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_8zu7eoss4e5s-4 {
	list-style-type: none
}

.lst-kix_nom2t8sjwuzj-1>li:before {
	content: "\0025cb  "
}

.lst-kix_bbdup1d9gqhp-6>li:before {
	content: "\0025cf  "
}

.lst-kix_nom2t8sjwuzj-3>li:before {
	content: "\0025cf  "
}

.lst-kix_g21n0l4j2oqr-1>li:before {
	content: "\0025cb  "
}

.lst-kix_egwll3gca3n-4>li:before {
	content: "\0025cb  "
}

.lst-kix_r7d3k8dt75vk-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_bbdup1d9gqhp-6 {
	list-style-type: none
}

ul.lst-kix_bbdup1d9gqhp-7 {
	list-style-type: none
}

ul.lst-kix_bbdup1d9gqhp-4 {
	list-style-type: none
}

ul.lst-kix_bbdup1d9gqhp-5 {
	list-style-type: none
}

ul.lst-kix_bbdup1d9gqhp-2 {
	list-style-type: none
}

ul.lst-kix_bbdup1d9gqhp-3 {
	list-style-type: none
}

ul.lst-kix_bbdup1d9gqhp-0 {
	list-style-type: none
}

.lst-kix_nmt0bwupho3-7>li:before {
	content: "\0025cb  "
}

.lst-kix_xmxf9kuux5ql-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_bbdup1d9gqhp-1 {
	list-style-type: none
}

.lst-kix_xmxf9kuux5ql-0>li:before {
	content: "\0025cf  "
}

.lst-kix_b2k9xfyeyhs8-7>li:before {
	content: "\0025cb  "
}

.lst-kix_xmxf9kuux5ql-5>li:before {
	content: "\0025a0  "
}

.lst-kix_wp6y6oyi9m73-4>li:before {
	content: "\0025cb  "
}

.lst-kix_1zf5q6ubfclq-5>li:before {
	content: "\0025a0  "
}

.lst-kix_nom2t8sjwuzj-5>li:before {
	content: "\0025a0  "
}

.lst-kix_wp6y6oyi9m73-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_boz7r23gjv98-8 {
	list-style-type: none
}

.lst-kix_4i4yx19un1qi-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_boz7r23gjv98-7 {
	list-style-type: none
}

ul.lst-kix_boz7r23gjv98-6 {
	list-style-type: none
}

.lst-kix_7gqmqsmynq7l-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_boz7r23gjv98-5 {
	list-style-type: none
}

.lst-kix_boz7r23gjv98-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_boz7r23gjv98-4 {
	list-style-type: none
}

ul.lst-kix_boz7r23gjv98-3 {
	list-style-type: none
}

ul.lst-kix_boz7r23gjv98-2 {
	list-style-type: none
}

ul.lst-kix_boz7r23gjv98-1 {
	list-style-type: none
}

ul.lst-kix_boz7r23gjv98-0 {
	list-style-type: none
}

.lst-kix_g21n0l4j2oqr-0>li:before {
	content: "\0025cf  "
}

.lst-kix_wp6y6oyi9m73-5>li:before {
	content: "\0025a0  "
}

.lst-kix_boz7r23gjv98-6>li:before {
	content: "\0025cf  "
}

.lst-kix_g21n0l4j2oqr-8>li:before {
	content: "\0025a0  "
}

.lst-kix_r7d3k8dt75vk-8>li:before {
	content: "\0025a0  "
}

.lst-kix_5hb7xepwr4jl-3>li:before {
	content: "\0025cf  "
}

.lst-kix_wp6y6oyi9m73-0>li:before {
	content: "\0025cf  "
}

.lst-kix_xmxf9kuux5ql-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_63js6uidqjnc-1 {
	list-style-type: none
}

ul.lst-kix_63js6uidqjnc-2 {
	list-style-type: none
}

.lst-kix_nom2t8sjwuzj-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_63js6uidqjnc-0 {
	list-style-type: none
}

.lst-kix_yvw92xfot9jw-6>li:before {
	content: "\0025cf  "
}

.lst-kix_us17qxvctcgb-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_4i4yx19un1qi-7 {
	list-style-type: none
}

.lst-kix_r7d3k8dt75vk-1>li:before {
	content: "\0025cb  "
}

.lst-kix_bbdup1d9gqhp-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_4i4yx19un1qi-8 {
	list-style-type: none
}

ul.lst-kix_4i4yx19un1qi-6 {
	list-style-type: none
}

ul.lst-kix_pt70dx3gyne1-6 {
	list-style-type: none
}

.lst-kix_nmt0bwupho3-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_4i4yx19un1qi-5 {
	list-style-type: none
}

ul.lst-kix_pt70dx3gyne1-5 {
	list-style-type: none
}

.lst-kix_bbdup1d9gqhp-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_4i4yx19un1qi-4 {
	list-style-type: none
}

.lst-kix_r7d3k8dt75vk-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_pt70dx3gyne1-4 {
	list-style-type: none
}

ul.lst-kix_4i4yx19un1qi-3 {
	list-style-type: none
}

.lst-kix_63js6uidqjnc-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_pt70dx3gyne1-3 {
	list-style-type: none
}

ul.lst-kix_4i4yx19un1qi-2 {
	list-style-type: none
}

ul.lst-kix_4i4yx19un1qi-1 {
	list-style-type: none
}

.lst-kix_blmnaebgbg7-8>li:before {
	content: "\0025a0  "
}

.lst-kix_pt70dx3gyne1-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_4i4yx19un1qi-0 {
	list-style-type: none
}

ul.lst-kix_pt70dx3gyne1-8 {
	list-style-type: none
}

ul.lst-kix_pt70dx3gyne1-7 {
	list-style-type: none
}

.lst-kix_blmnaebgbg7-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_63js6uidqjnc-6 {
	list-style-type: none
}

ul.lst-kix_63js6uidqjnc-5 {
	list-style-type: none
}

ul.lst-kix_63js6uidqjnc-4 {
	list-style-type: none
}

ul.lst-kix_63js6uidqjnc-3 {
	list-style-type: none
}

ul.lst-kix_pt70dx3gyne1-2 {
	list-style-type: none
}

ul.lst-kix_pt70dx3gyne1-1 {
	list-style-type: none
}

.lst-kix_fya1wt3tiqeo-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_63js6uidqjnc-8 {
	list-style-type: none
}

ul.lst-kix_pt70dx3gyne1-0 {
	list-style-type: none
}

.lst-kix_7gqmqsmynq7l-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_63js6uidqjnc-7 {
	list-style-type: none
}

ul.lst-kix_bbdup1d9gqhp-8 {
	list-style-type: none
}

.lst-kix_blmnaebgbg7-1>li:before {
	content: "\0025cb  "
}

.lst-kix_63js6uidqjnc-2>li:before {
	content: "\0025a0  "
}

.lst-kix_nmt0bwupho3-5>li:before {
	content: "\0025a0  "
}

.lst-kix_1zf5q6ubfclq-0>li:before {
	content: "\0025cf  "
}

.lst-kix_nmt0bwupho3-2>li:before {
	content: "\0025a0  "
}

.lst-kix_4i4yx19un1qi-4>li:before {
	content: "\0025cb  "
}

.lst-kix_r7d3k8dt75vk-2>li:before {
	content: "\0025a0  "
}

.lst-kix_4i4yx19un1qi-3>li:before {
	content: "\0025cf  "
}

.lst-kix_pt70dx3gyne1-6>li:before {
	content: "\0025cf  "
}

.lst-kix_8zu7eoss4e5s-1>li:before {
	content: "\0025cb  "
}

.lst-kix_bbdup1d9gqhp-7>li:before {
	content: "\0025cb  "
}

.lst-kix_nom2t8sjwuzj-2>li:before {
	content: "\0025a0  "
}

.lst-kix_b2k9xfyeyhs8-0>li:before {
	content: "\0025cf  "
}

ol {
	margin: 0;
	padding: 0
}

.c3 {
	vertical-align: top;
	width: 241.5pt;
	border-style: solid;
	background-color: #cccccc;
	border-color: #000000;
	border-width: 0pt;
	padding: 2.2pt 2.2pt 2.2pt 2.2pt
}

.c24 {
	vertical-align: top;
	width: 241.5pt;
	border-style: solid;
	background-color: #cccccc;
	border-color: #cccccc;
	border-width: 0pt;
	padding: 2.2pt 2.2pt 2.2pt 2.2pt
}

.c25 {
	vertical-align: top;
	width: 483pt;
	border-style: solid;
	background-color: #000000;
	border-color: #000000;
	border-width: 0pt;
	padding: 7.2pt 7.2pt 7.2pt 7.2pt
}

.c4 {
	vertical-align: top;
	width: 241.5pt;
	border-style: solid;
	border-color: #000000;
	border-width: 0pt;
	padding: 5pt 5pt 5pt 5pt
}

.c23 {
	vertical-align: top;
	width: 241.5pt;
	border-style: solid;
	border-color: #000000;
	border-width: 0pt;
	padding: 2.2pt 2.2pt 2.2pt 2.2pt
}

.c26 {
	vertical-align: top;
	width: 241.5pt;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0pt;
	padding: 2.2pt 2.2pt 2.2pt 2.2pt
}

.c8 {
	line-height: 1.15;
	padding-top: 0pt;
	text-align: right;
	direction: ltr;
	padding-bottom: 0pt
}

.c9 {
	padding-left: 0pt;
	line-height: 1.15;
	text-align: justify;
	direction: ltr;
	margin-left: 36pt
}

.c1 {
	padding-left: 0pt;
	line-height: 1.15;
	text-align: justify;
	direction: ltr;
	margin-left: 72pt
}

.c6 {
	margin-right: auto;
	border-collapse: collapse
}

.c11 {
	line-height: 1.15;
	text-align: right;
	direction: ltr
}

.c12 {
	max-width: 483pt;
	background-color: #ffffff;
	padding: 36pt 56.2pt 56.2pt 56.2pt
}

.c13 {
	line-height: 1.15;
	text-align: justify;
	direction: ltr
}

.c2 {
	line-height: 1.15;
	height: 11pt;
	direction: ltr
}

.c19 {
	color: inherit;
	text-decoration: inherit
}

.c15 {
	padding-top: 0pt;
	padding-bottom: 0pt
}

.c10 {
	color: #1155cc;
	text-decoration: underline
}

.c20 {
	line-height: 1.15;
	direction: ltr
}

.c29 {
	padding-left: 0pt;
	margin-left: 36pt
}

.c0 {
	margin: 0;
	padding: 0
}

.c21 {
	color: #ffffff;
	font-size: 18pt
}

.c18 {
	font-size: 14pt
}

.c5 {
	background-color: #ffff00
}

.c16 {
	font-size: 12pt
}

.c27 {
	vertical-align: baseline
}

.c14 {
	height: 0pt
}

.c28 {
	font-size: 18pt
}

.c7 {
	font-weight: bold
}

.c17 {
	height: 11pt
}

.c22 {
	text-align: center
}

.title {
	padding-top: 24pt;
	line-height: 1.15;
	text-align: left;
	color: #000000;
	font-size: 36pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 6pt
}

.subtitle {
	padding-top: 18pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 24pt;
	font-family: "Georgia";
	padding-bottom: 4pt
}

li {
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

p {
	color: #000000;
	font-size: 11pt;
	margin: 0;
	font-family: "Arial"
}

h1 {
	padding-top: 24pt;
	line-height: 1.15;
	text-align: left;
	color: #000000;
	font-size: 18pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 6pt
}

h2 {
	padding-top: 18pt;
	line-height: 1.15;
	text-align: left;
	color: #000000;
	font-size: 14pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 4pt
}

h3 {
	padding-top: 14pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-size: 12pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 4pt
}

h4 {
	padding-top: 12pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 11pt;
	font-family: "Arial";
	padding-bottom: 2pt
}

h5 {
	padding-top: 11pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-size: 10pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 2pt
}

h6 {
	padding-top: 10pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 10pt;
	font-family: "Arial";
	padding-bottom: 2pt
}